{% comment %} css in base.css {% endcomment %}

<div class="triple-line-snippet">
  <div class="triple-line-snippet-title d-inflex align-center fw400 lh150">
    <div class="sub-line"></div>
    <h2 class="f4">{{ triple_line_sub_title }}</h1>
    <div class="sub-line-2"></div>
  </div>
  <h1 class="f2 fw600 lh130">{{ triple_line_title }}</h1>
  <p class="fw400 f5 lh150">
    {{ triple_line_text }}
  </p>
</div>
