 .banner-with-text-box {
    height: 75vh;
    position: relative;
    z-index:-1;
  }

  .banner-with-text-box img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    /* height: 100%; */
    object-fit: cover;
    z-index: -1;
    /* object-position: top; */
    object-position: 50% 20%;
    height: 80vh;
  }

  .text-box-container {
    background-color: #f5f4eb;
    padding: 1.2rem;
    max-width: 80rem;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
    width: 100%;
    margin-top: -20rem;

  }
  .text-box-container2{
    padding:0.8rem;
    border: 3px solid rgba(35, 25, 33, 0.20);
  }

  .text-box-content {
    text-align: center;
    border: 0.1rem solid rgba(35, 25, 33, 0.30);
  }

  @media (max-width: 768px) {
    .banner-with-text-box {
      height: 65vh;
    }

    .text-box-content {
      padding: 20px;
    }
  }